.calculateSection-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1400px;
  // min-width: 980px;
  padding-right: 15px;
  padding-left: 15px;

  &-slides {
    width: 100%;
    display: flex;

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &-price {
      // height: 400px;
      &-field {

      }
    }
    &-firstPayment {
      margin-left: 2%;
    }
  }

  &-programs {
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      flex-direction: column;
      width: 50%;

      ul {
        padding-inline-start: 20px;
      }
    }

    &-euro {
      margin-left: 2%;
    }
  }

  &-request {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-fields {
      display: flex;
      width: 100%;

      & > div {
        width: 100%;
      }

      &-phone {
        margin-left: 2%;
      }
    }
  }

  @media (max-width: 820px) {
    h2 {
      text-align: center;
      font-size: 1.75rem;
    }

    &-slides, &-programs, &-request-fields {
      flex-wrap: wrap;

      h3 {
        text-align: center;
        font-size: 1.25rem;
      }

      .custom-slider {
        height: 80px !important;
      }
    }

    &-programs > div {
      width: 100%;
    }

    &-slides-firstPayment, &-programs-euro, &-request-fields-phone {
      margin-left: 0;
    }
  }
}
