$main-color: #333;

$button-color: #fd760e;

$border-and-text-color-first: #343e4d;

$color-first: #ff8c34;

$button-color-second: #f86e05;

$white-color: #ffffff;

$header-height-lg: 168px;
$header-height-md: 122px;
$header-height-sm: 100px;
